<div class="container-fluid">
    <div class="row" id="gc-ch-top-row">
        <div class="col-md-12">
            <h3 class="mt-3">Welcome Back !</h3>
        </div>
    </div>
    <div class="row" id="gc-ch-profile-row">
        <div class="col-md-2">
            <img class="img-thumbnail" alt="Coach image" src="https://www.thispersondoesnotexist.com/image" />
        </div>
        <div class="col-md-2 border-right">
            <p class="mt-2">{{coach.firstName}} {{coach.lastName}}</p>
            <p class="mt-2">Member since : {{coach.joinDate.toDateString()}}</p>
        </div>
        <div class="col-md-4 border-right">
            <p>
                Personal Information
                <button type="button" class="btn px-3 ml-2"><i class="fa fa-edit fa-2x"></i>
                </button>            
            </p>
            <p>
                Email : {{coach.email}}
            </p>
            <p>
                About me:<br>
                {{coach.description}}
            </p>
        
        </div>
        <div class="col-md-4">
            <p>
                Upcoming Appointments
                <button type="button" class="btn px-3 ml-2">
                    <i class="fa fa-edit fa-2x"></i>
                </button>            
            </p>
            <ul class="list-group">
                <li *ngFor="let item of coach.appointments" class="list-group-item border-0">
                    {{item.startTime| date:'medium'}}
                </li>
            </ul>            
        </div>
    </div>
    <div class="row" id="gc-ch-dish-header-row">
        <div class="col-md-12 pt-3">
            <h3>
                Dishes
                <button type="button" class="btn px-3 ml-2"><i class="fa fa-edit fa-2x"></i></button>            
            </h3>
        </div>
    </div>
    <div class="row card-group" id="gc-ch-dishes-row">
        <div class="col-4"  *ngFor="let item of coach.dishes">
            <a [routerLink]="['/dish', item.id]">
                <div class="card">
                    <div class="card-img-caption">
                        <p class="card-text dish-overlay-text">{{item.name}}</p>
                        <img class="card-img-top" src="{{item.pictureId}}" alt="{{item.name}}">
                    </div>                    
                </div>
            </a>
        </div>
    </div>
</div>

