<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-3">Welcome Back !</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 border-right">
            <app-uploader  *ngIf="!imageUrl" [imageUrl]="'/assets/image-placeholder.png'" [directory]="getImagesDirectory()" [prefix]="'profile'" (status)="onStatusChange($event)" ></app-uploader>
            <img  *ngIf="imageUrl" [src]="imageUrl" height="200px">
        <!-- </div>
        <div class="col-md-2 border-right"> -->
            <p class="mt-2">{{coach?.displayName}}</p>
            <p class="mt-2">Member since : {{coach?.joinDate?.toDateString()}}</p>
        </div>
        <div class="col-md-4">
            <p>
                Personal Information
                <button type="button" class="btn px-3 ml-2"><i class="fa fa-edit fa-2x"></i>
                </button>            
            </p>
            <p>
                Email : {{coach?.email}}
            </p>
            <p>
                About me:<br>
                {{coach?.description}}
            </p>        
        </div>
        <div class="col-md-4 border-right">
            <p>
                Upcoming Appointments
                <button type="button" class="btn px-3 ml-2">
                    <i class="fa fa-edit fa-2x"></i>
                </button>            
            </p>
            <ul class="list-group">
                <li *ngFor="let item of coach?.appointments" class="list-group-item border-0">
                    <i class="fa fa-calendar mr-2"></i>{{item.startTime| date:'medium'}}
                </li>
            </ul>            
        </div>
    </div>
    <app-dish-editor *ngIf="coach" [coach]="coach"></app-dish-editor>
</div>
