<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<img class="img-fluid" alt="Dish image" src="{{(dish?.pictureId)?dish?.pictureId:''}}" />
		</div>
		<div class="col-md-5">
			<div class="row mt-5">
				<div class="col-md-12">
					<h3> {{dish?.name}} </h3>
					<p> {{dish?.description}} </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="list-unstyled">
						<li class="list-item">
							Duration: {{dish?.duration}} mins
						</li>
						<li class="list-item">
							Ratings: 
							<ngb-rating [rate]="dish?.ratings" [readonly]="true" [max]="5">
								<!-- <ng-template let-fill="fill" let-index="index">
									<span class="star" [class.filled]="fill === 100" [class.rating]="index < dish.ratings" [class.ratingblank]="index >= dish.ratings">&#9733;</span>
								</ng-template> -->
							</ngb-rating>
						</li>
						<li class="list-item">
							Cuisine type: {{dish?.cuisine}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-12">
			<hr>
			<h2>Details</h2>
			<p>
				Here are some of the things needed to create the dish
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
            <h4>
                List of ingredients needed
            </h4>
            <ul class="list-group">
                <li *ngFor="let item of dish?.ingredients" class="list-group-item border-0 py-0">
                    - {{item}}
                </li>
            </ul>            
		</div>
		<div class="col-md-6">
            <h4>
                List of equipment needed
            </h4>
            <ul class="list-group">
                <li *ngFor="let item of dish?.equipment" class="list-group-item border-0 py-0">
                    - {{item}}
                </li>
            </ul>            
		</div>
	</div>



	<div class="row mt-3">
		<div class="col-md-12">
			<hr>
			<h3> Book a time slot: </h3>
			<p> Let our chef know what time works best for you and we will confirm. </p>
			<p class="date-time-text">Click on day that works best for you and then select a time</p>			
		</div>
	</div>	

	<form [formGroup]="bookingForm">
		<div class="row mt-3">
			<div class="col-md-3">
				<ngb-datepicker #dp [(ngModel)]="teacherAvlDate" [minDate] = "minDate" [maxDate] = "maxDate" (dateSelect)="onDateSelect($event)" formControlName="bookingDate"></ngb-datepicker>
			</div>
			<div class="col-md-4 d-flex justify-content-center time-slot">
				<ul class="ts-cboxtags">
                    <li *ngFor="let schdlTime of scheduledTimes; let i = index" class="{{schdlTime.isBooked==true?'booked-schedule':''}}"><input type="radio" name="scheduleTime" id="radio{{i}}" [value]="schdlTime.avltime" [attr.disabled]="schdlTime.isBooked===true?'disabled':null" formControlName="scheduleTime"><label for="radio{{i}}">{{schdlTime.timeFormat}}</label></li>
                </ul>
				<!-- <div>
					<label *ngFor="let schdlTime of scheduledTimes; let i = index"
						class="teacher-time-slot col-md-4 m-3 {{schdlTime.isBooked==true?'bg-secondary text-white':'bg-primary'}}">
						<input type="radio" class="scheduleTime" name="scheduleTime" [value]="schdlTime.avltime" [attr.disabled]="schdlTime.isBooked===true?'disabled':null" formControlName="scheduleTime"> {{schdlTime.timeFormat}}
					</label>
				</div> -->
			</div>
			<div class="col-md-3"></div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12">
				<hr>
				<button type="button" class="btn btn-confirm" (click)="bookingSubmit(bookingForm.value, errorTpl, successTpl)">
					Confirm
				</button>
				<button type="button" class="btn btn-light btn-cancel">
					Cancel
				</button>
			</div>
		</div>	
	</form>
	<div class="row mt-3">		
	</div>
</div>

<ng-template #errorTpl>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
    {{message}}
</ng-template>

<ng-template #successTpl>
    <i class="fa fa-check" aria-hidden="true"></i>
    {{message}}
</ng-template>