.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.date-time-text {
    color: #DADADA;
}

.btn-confirm {
    margin-right: 20px;
    background-color: #FEA705;
    border-color: #FEA705;
    color:#000000;
    padding: 10px 35px;
    border-radius: 35px;
    font-weight: bold;
}

.btn-cancel {
    color:#000000;
    padding: 10px 35px;
    border-radius: 35px;
    font-weight: bold;
}

.star.rating {
    color: #FFC107 !important;
}

.star.ratingblank {
    color: #ffffff !important;
}

.time-slot {
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    padding: 15px;
}

.teacher-time-slot {
    border: 1px solid #DFDFDF;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}


/****************** Checkbox design ********************************/
ul.ts-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ts-cboxtags li{
  display: inline;
  margin-right: 10px;
}
ul.ts-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ts-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
    width: 95px;
    text-align: center;
}

ul.ts-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    /* content: "\f067"; */
    transition: transform .3s ease-in-out;
}

ul.ts-cboxtags li input[type="radio"]:checked + label::before {
    /* content: "\f00c"; */
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ts-cboxtags li input[type="radio"]:checked + label {
    border: 2px solid #0056B3;
    background-color: #0069D9;
    color: #fff;
    transition: all .2s;
}

ul.ts-cboxtags li input[type="radio"] {
  display: absolute;
}
ul.ts-cboxtags li input[type="radio"] {
  position: absolute;
  opacity: 0;
}
ul.ts-cboxtags li input[type="radio"]:focus + label {
  border: 2px solid #e9a1ff;
}
/*********************** End Checkbox design ******************************/