<div class="row">
    <div class="col-md-4 border-right">        
        <p>
            Upcoming Appointments
            <!-- <button type="button" class="btn px-3 ml-2">
                <i class="fa fa-edit fa-2x"></i>
            </button>             -->
        </p>
        <table class="table table-striped">
            <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataList of paginationData; let i=index">
              <!-- <th scope="row">{{ dataList.id }}</th> -->
              <td>
                {{ dataList.bookingDate | date:'mediumDate' }}
              </td>
              <td> {{ dataList.bookingTime | timeformat }} </td>
              <td> {{ dataList.status }} </td>
            </tr>
            </tbody>
          </table>
          
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
          
            <!-- <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select> -->
        </div>
    </div>
    <div class="col-md-8">
        <!-- <p>
            Appointments Scheduling
            <button *ngIf="!appointmentsEdit" type="button" class="btn px-3 ml-2" (click)="schedulingCalendar()">
                <i class="fa fa-edit fa-2x"></i>
            </button>            
        </p>
        <div *ngIf="!appointmentsEdit">
            <p>No data found!</p>
        </div> -->

        <div class="row">
            <div class="col-md-4">
                <ngb-datepicker #dp [(ngModel)]="selectedDate" [minDate] = "minDate" [maxDate] = "maxDate" (dateSelect)="onDateSelection($event)" [dayTemplate]="t" ></ngb-datepicker>
                <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                    </span>
                </ng-template>
            </div>
            <div class="col-md-7" style="margin-left: 20px;">
                <ul class="ts-cboxtags time-slot">
                    <li *ngFor="let timeItem of timeSlot; let i=index"><input type="checkbox" id="checkbox{{i}}" [value]="timeItem.time" [(ngModel)]="timeItem.isChecked" (change)="changeSelection()"><label for="checkbox{{i}}">{{timeItem.timeformat}}</label></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="col-md-12">			 
                    <button type="button" class="btn btn-confirm" (click) ="saveAppointments(errorTpl, successTpl)">
                        Save
                    </button>
                    <!-- <button type="button" class="btn btn-light btn-cancel" (click) ="cancelAppointments()">
                        Cancel
                    </button> -->
                </div>
            </div>
		</div>
    </div>
</div>

<ng-template #errorTpl>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
    {{errorMsg}}
</ng-template>

<ng-template #successTpl>
    <i class="fa fa-check" aria-hidden="true"></i>
    {{successMsg}}
</ng-template>
