<hr>
<div class="row mt-5">
    <div class="col-sm-3 col-12">
        <h3>Dishes</h3>
    </div>
    <div class="col-sm-9 col-12">
        <a routerLink="/newdish">
            <button type="button" class="btn btn-primary"  class="btn btn-primary">Add New</button>
        </a>
    </div>
</div>
<div class="row mt-5">        
    <div class="col-4" *ngFor="let view of dishes">
        <div  class="card mb-5">
            <div class="card-img-caption">
                <a [routerLink]="['/editdish',view.id]"><img class="card-img-top" src="{{view.pictureId}}"></a>
            </div>                    
            <div class="card-body">
                <h5 class="card-title text-center"><a [routerLink]="['/editdish',view.id]">{{view.name}}</a></h5>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row mt-5">        
    <div class="col-4" *ngFor="let view of dishes">
        <div  class="card mb-5">
            <div class="card-img-caption">
                <img class="card-img-top" src="{{view.pictureId}}">
            </div>                    
            <div class="card-body text-center">
                <h5 class="card-title">{{view.name}}</h5>
            </div>
        </div>
    </div>
</div>
 -->
