#gc-sh-top-row {
    height: 100px;
}

#gc-sh-profile-row {
    height: 300px;    
}

#gc-sh-dish-header-row {
    height: 100px;  
    background-color: ivory;  
}

#gc-sh-dish-search-row {
    height: 400px;  
    background-color: ivory;  
}

#gc-sh-dishes-row {
    height: 600px; 
    background-color: ivory;   
}

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
    
.card-img-caption .card-img-top {
    z-index: 0;
}
    
.card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 33% 0;
    position: absolute;
    z-index: 1;
}

.dish-overlay-text {
    font-size: x-large;
    color: ivory;
}

.list-group{
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.card-group{
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}