<div class="container-fluid">
	<div class="row">
        <div class="col-md-6">
            <div class="row mt-5" style="height: 200px;">
                <div class="col-md-12">
                    <img alt="Heading" src="/assets/heading.png" class="mx-auto d-block"/>
                    <h5 class="text-center">
                        Anybody can be a gudcook
                    </h5>                    
                </div>
            </div>
            <div class="row" style="height: 100px;">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Lets get food on the table
                    </h3>
                </div>
            </div>
            <div class="row" style="height: 100px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <p class="text-center" [ngStyle]="{'color': 'red'}" >
                        {{message}}
                    </p>
                    </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row" style="height: 200px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="form-group">  
                        <input type="email" class="form-control text-center" placeholder="Email Address" [(ngModel)]="userName"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" placeholder="Password" [(ngModel)]="password" />
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-primary w-100" (click)="loginWithPassword()">
                            Login
                        </button>
                    </div>
                    <div class="text-center mt-2">
                        <button type="button" class="btn btn-primary text-center w-100" (click)="loginWithGoogle()">
                            <i class="fa fa-google mr-2"></i>Signin with Google
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row mt-5" style="height: 100px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <p class="text-center">Don't have an account?</p>
                    <a routerLink="[/signup]">
                        <button type="submit" class="btn btn-primary w-100">
                            SignUp
                        </button>
                    </a>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
		<div class="col-md-6 mt-0">
			<img alt="Bootstrap Image Preview" src="/assets/signin-right.jpg" class="img-fluid" />
		</div>
	</div>
</div>